.basicLayout {
    height: 100vh;
    display: grid;
    grid-template-rows: 50px auto 1fr 50px;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

    main {
        grid-area: 3 / 1 / 4 / 5;
    }
    
}


