* {
	box-sizing: border-box;
}

body {

	text-align: center;
	font-family: "Open Sans", sans-serif;
	color: #3f4850;
}


@media only screen and (max-width: 767px) {
	body {
		padding-top: 2em;
	}
}

@media only screen and (min-width: 768px) {
	.App {
		margin: auto;
	}

}
